# Dependencies (reinstalled in build)
node_modules

# Build output (rebuilt in build)
.next
out

# Tests & coverage
coverage
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
vitest.config.ts
.eslintrc.json
.prettierrc

# Version control
.git
.gitignore

# IDE
.vscode
.idea
*.swp

# Docker
Dockerfile
.dockerignore

# Misc
*.md
